
.v1_345 {
    width: 142px;
    height: 31px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 975px;
    left: 135px;
    overflow: hidden;
}

.name {
    color: #fff;
}
.v458_253 {
    width: 453px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 75px;
    font-family: Roboto;
    font-weight: Bold;
    font-size: 64px;
    opacity: 1;
    text-align: left;
}
.v458_254 {
    width: 342px;
    color: rgba(124,121,121,1);
    position: absolute;
    font-family: Roboto;
    font-weight: Thin;
    font-size: 64px;
    opacity: 1;
    text-align: left;
}
.img-container-box{
    position: absolute;
    top: 200px;
}
.img-container {
    display: flex;

}
.img-item {
    width: 90%;
}

a:hover {
    text-decoration: none;
}

.column {
    position: relative;
}
.column#caption1 .text {
    position: absolute;
    top: 1%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    opacity: 0;
    transition: all 0.8s ease;
}
.column#caption1 .text h1 {
    margin: 0;
    color: white;
}
.column#caption1:hover .text {
    opacity: 1;

}
.column#caption1:hover img {
    -webkit-filter: sepia(90%);
}


.column#caption2 .text {
    position: absolute;
    top: 1%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    opacity: 0;
    transition: all 0.8s ease;
}
.column#caption2 .text h1 {
    margin: 0;
    color: white;
}
.column#caption2:hover .text {
    opacity: 1;

}
.column#caption2:hover img {
    -webkit-filter: sepia(90%);
}


.column#caption3 .text {
     position: absolute;
     top: 1%;
     left: 50%;
     transform: translate(-50%, -50%);
     z-index: 10;
     opacity: 0;
     transition: all 0.8s ease;
 }
.column#caption3 .text h1 {
    margin: 0;
    color: white;
}
.column#caption3:hover .text {
    opacity: 1;

}
.column#caption3:hover img {
    -webkit-filter: sepia(90%);
}