footer {
    position: absolute;
    width: 850px;
}
.footImg{float: left; margin-right: 20px;}
address{ margin: 0;}
address span {border-bottom: 1px solid #9c9c9c; padding-bottom: 2px;}
#about span a { color: inherit;}