<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.mndc.dyn.dao.CmtDAO">
    <select id="selectCmtsByMpk">
        select * from cmt
        where mpk = #{mpk}
    </select>
<!--    <select id="selectUnreadInfoByMpk">-->
<!--        select *-->
<!--        from cmt-->
<!--        where bpk =-->
<!--              (-->
<!--                  select bpk-->
<!--                  from board-->
<!--                  where board.mpk = #{mpk}-->
<!--              )-->
<!--        and c_alert = 1-->
<!--    </select>-->
<!--    <update id="updateCAlertByCpk">-->
<!--        update cmt-->
<!--        set c_alert = 0-->
<!--        where cpk = #{cpk}-->
<!--    </update>-->
    <update id="insertCmt">
        insert into cmt (c_ctnt, bpk, mpk)
        values (#{c_cnt},#{bpk},#{mpk});
    </update>
    <delete id="deleteCmtByCpk">
        delete from cmt
        where cpk = #{cpk}
    </delete>
    <delete id="deleteCmtByBpk">
        delete from cmt
        where bpk = #{bpk}
    </delete>
</mapper>