<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.mndc.dyn.dao.CmtDAO">
    <select id="selectCmtsByMpk">
        select * from cmt
        where mpk = #{mpk}
    </select>
    <select id="selectCmtsByBpk" resultType="CmtDTO">
        select c.*, u.mnm from cmt c
        inner join user u on c.mpk = u.mpk
        where bpk = #{bpk}
    </select>
    <update id="insertCmt">
        insert into cmt (c_ctnt, bpk, mpk)
        values (#{c_ctnt},#{bpk},#{mpk});
    </update>
    <delete id="deleteCmtByCpk">
        delete from cmt
        where cpk = #{cpk}
    </delete>
    <delete id="deleteCmtByBpk">
        delete from cmt
        where bpk = #{bpk}
    </delete>
</mapper>