<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.mndc.dyn.dao.FavDAO">
    <insert id="insertFav">
        insert into fav(mpk, bpk)
            value (#{mpk},#{bpk})
    </insert>
    <update id="updateFav">
        update fav
        set toggle = #{toggle}
        where bpk = #{bpk}
          and mpk = #{mpk}
    </update>
    <delete id="deleteFav">
        delete from fav
        where bpk = #{bpk}
          and mpk = #{mpk}
    </delete>
    <select id="selectFavCount" resultType="Int">
        select count(*) from fav
        where bpk = #{bpk}
    </select>
    <select id="selectFavByMpkBpk" resultType="Int">
        select count(*) from fav
        where bpk = #{bpk}
        and mpk = #{mpk}
    </select>
</mapper>