<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="MilitaryUnitDAO">

    <select id="selectAllInfoByType" resultType="MilitaryUnitEntity">
        select * from military_unit
        where mu_type = #{type}
    </select>
    <select id="selectAllInfoBySearch" resultType="MilitaryUnitEntity">
        select * from military_unit
        WHERE mu_name LIKE '%${search}%'
    </select>
</mapper>